@media only screen and (min-width: 40em) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    header,
    .content,
    footer {
        border-radius: 16px;
    }

    .content {
        max-width: 480px;
    }

}