@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Noto Sans', Arial, sans-serif;
    background-color: #1B2430;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Acme', display;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Rubik', Verdana, sans-serif;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 960px;
    padding: 1rem;
    color: #D6D5A8;
}

header,
footer {
    background-color: #51557E;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: #AD71E5;
}

a:active {
    color: #FF4242;
}

footer a:link {
    color: #D6D5A8;
}

footer a:visited {
    color: #D6D5A8;
}

footer a:active {
    color: #FF4242;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Acme, Arial, sans-serif;
}

.title {
	font-size: 1.5rem;
}

.content {
	margin: 0.5rem auto;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	background-color: #51557E;
	display: grid;
	grid-template-columns: 1fr;
	width: 95%;
    color: #000;
}

input,
button {
	padding: 0.35rem;
	margin-left: 1rem;
	font-size: 1.1rem;
}

input {
	width: 200px;
}

label {
	font-size: 0.9rem;
}

.listcontainer {
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 1rem;
	padding: 1rem;
}

.list {
	margin: 0.2rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
