@media only screen and (min-width: 40em) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    header,
    footer {
        border-radius: 16px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    .one {
        grid-column: 1;
    }

    .two {
        grid-column: 2;
    }

    .three {
        grid-column: span 2;
        width: 45%;
    }
}