@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Noto Sans', Arial, sans-serif;
    background-color: #1B2430;
}

h1,h3 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Lobster', 'Bradley Hand', cursive;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Rubik', Verdana, sans-serif;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 960px;
    padding: 1rem;
    color: #D6D5A8;
}

header,
footer {
    background-color: #51557E;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: #AD71E5;
}

a:active {
    color: #FF4242;
}

footer a:link {
    color: #D6D5A8;
}

footer a:visited {
    color: #D6D5A8;
}

footer a:active {
    color: #FF4242;
}

main {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem 0;
}

main > section {
    grid-column: 1;
    width: 90%;
    max-width: 30rem;
    justify-self: center;
}

section {
    border-radius: 0.75rem;
    background-color: #51557E;
    border: 2px solid #816797;
    overflow: hidden;
}

h3 {
    text-align: left;
    font-size: 1.25rem;
    margin: 0;
    padding: 0.75rem;
    background: #816797;
}

h4 {
    font-size: 1.1rem;
}

section div {
    padding: 0 0.75rem;
}

section div * {
    font-size: 1.05rem;
}

section img {
    display: block;
    width: calc(100% - 4px);
    max-width: 27rem;
    margin: 0 auto;
    border: 2px solid #816797;
}