@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

body {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Noto Sans', Arial, sans-serif;
    background-color: #1B2430;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Forum', display;
    letter-spacing: 1.25px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Rubik', Verdana, sans-serif;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 960px;
    padding: 1rem;
    color: #D6D5A8;
}

header,
footer {
    background-color: #51557E;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: #AD71E5;
}

a:active {
    color: #FF4242;
}

footer a:link {
    color: #D6D5A8;
}

footer a:visited {
    color: #D6D5A8;
}

footer a:active {
    color: #FF4242;
}

main {
    display: flex;
    flex-direction: column;
}

main picture {
    align-self: center;
}

img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
    margin: 6px;
    border: 4px solid #51557E;
}