@media only screen and (min-width: 40em) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    header,
    footer {
        border-radius: 16px;
    }

    header {
        display: grid;
        grid-template-columns: auto 25%;
        grid-template-rows: 7.5em;
        justify-items: center;
    }

    header img {
        box-shadow: 5px 5px 5px #D6D5A8;
        border-radius: 8px;
    }
}