@media only screen and (min-width: 35rem) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    header,
    footer {
        border-radius: 16px;
    }

    header img {
        float: right;
        box-shadow: 5px 5px 5px #D6D5A8;
        border-radius: 8px;
    }
}